body {
    overflow: hidden;
}

.App {

    background-color: gray;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5% 10%;
}

.StudentCard {
    text-align: left;
    display: flex;
}


.StudentCard h2 {
    letter-spacing: 2px;
}

.StudentCardContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    max-width: 1200px;
    min-width: 800px;
    min-height: 80vh;
    max-height: 80vh;
    border-radius: 10px;
}

.StudentCardContainer .ScrollingContainer {
    height: 100%;
    overflow: auto;
}

.StudentCardContainer input {
    height: 30px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
    padding: 10px;
}

.StudentCard .StudentImg {
    padding-top: 25px;
}

.StudentCard img {
    width: 120px;
    height: 120px;
    align-self: center;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 30px;
}

.StudentCard .StudentInfoWrapper {
    flex-direction: column;
    width: 100%;
}

.StudentCard .StudentInfoWrapper .StudentInfo {
    margin-left: 15px;
}

.StudentCard .StudentInfoWrapper .StudentInfo .StudentExpansionList span {
    margin-left: 15px;
}

.StudentCard .StudentInfoWrapper p {
    color: gray;
}

.StudentCard .StudentInfoWrapper .StudentTitle {
    display: flex;
    justify-content: space-between;
    /*justify-items: center;*/
    align-items: center;
}

.StudentCard .StudentInfoWrapper .StudentTitle button {
    background-color: white;
    border: 0;
    width: 70px;
    /*height: 70px;*/
    border-radius: 50%;
}

.StudentCard .StudentInfoWrapper .StudentTitle button h2 {
    color: gray;
    font-size: xx-large;
}


.StudentCard .StudentInfoWrapper .StudentInfo .StudentTags {
    display: flex;
}

.StudentCard .StudentInfoWrapper .StudentInfo .StudentTags p {
    background-color: lightgray;
    border-radius: 10%;
    padding: 5px;
    margin: 5px 5px 5px 0;
}

.NoResults span {
    font-style: italic;
    color: gray;
}